<section>
  <div class="main-content">
    <div class="head">
      <h1>
        Create a <br />
        new image <br />for your dog!
      </h1>
    </div>
    <div class="content">
      <p>
        You can download and use this product wherever you are. With the help of
        these innovative pet companies,you can create new image of your dog and
        show his own personality in public!
      </p>
    </div>
    <div class="actions">
      <button class="free-trial">Free trial</button>
      <button class="more">Check for more</button>
    </div>
    <!-- images -->
  </div>
  <div class="images">
    <div class="images-top">
      <div class="dog-1">
        <img src="/assets/dog-1-low.jpg" alt="dog 1" />
      </div>
      <div class="dog-2">
        <img src="/assets/dog-2-low.jpg" alt="dog 2" />
      </div>
    </div>
    <div class="images-bottom">
      <div class="dog-3">
        <img src="/assets/dog-3-low.jpg" alt="dog 3" />
      </div>
      <div class="dog-4">
        <img src="/assets/dog-4-low.jpg" alt="dog 4" />
      </div>
    </div>
  </div>
</section>
