section {
  position: relative;
  display: flex;
  gap: 20px;
  width: 100%;
  padding-top: 80px;
}
.blur{
display: none;
}
.main-content {
  padding-top: 15%;
  width: 100%;
  max-width: 600px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.head {
  padding-top: 20px;
  font-size: clamp(15px, 35px, 45px);
}

.content {
  font-size: clamp(16px, 20px, 24px);
  padding: 20px 0px;
}
.content p {
  line-height: 40px;
}
.actions {
  display: flex;
  gap: 10px;
  height: 60px;
}
.actions button {
  transition: all 1s;
  height: 100%;
  padding: 10px;
  border-radius: 30px;
  width: 150px;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
}
.actions .free-trial {
  background-color: rgb(250, 160, 16);
}
.actions .more {
  background-color: transparent;
  color: white;
}
.actions button:hover {
  transition: all 1s;
  opacity: 0.8;
}



.images{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 20px;
  padding-right: 20px;

}
.images .images-top{
  height: 65%;
  width: 100%;
  display: flex;
  gap: 10px;
  
}
.images .images-top  {
width: auto;
height: auto;  
margin-top: auto;
max-height: 500px;


}
.images .images-bottom{
  height: 35%;
  width: 100%;
  display: flex;
  gap: 10px;
  
}
.images div{
  width: 50%;
  border-radius:50px;
  overflow: hidden;
}
.images img{
  height: 100%;
  width: 100%;
}

.images img:hover {
  transition: all 1s;
  transform: scale(120%);
}
/*  media queries*/
@media screen and (max-width: 800px) {
  section {
    flex-direction: column;
  }
  .images .images-top{
    max-height: 100%;
  }
  .images img {
    /* max-width: 100%; */
    max-height: 400px;
  }
  .images div{
    flex-direction: column;
    width: 100%;
  }
  .blur{
    display: block;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .no-blur{
    transition: all 0.5s;
    backdrop-filter: none;
    display: none;
  }

  
}
@media screen and (min-width: 600px){
  .images .images-top{
    flex-direction: row;
  }
  
}
